body {
	background-color:black;
  padding: 50px;
 
}
.capital{
  width: auto;
}

h1{
  color:white;
text-align: center;
}

h5{
  color:white;

}
P{
  color:white;

}
.container{
<<<<<<< HEAD
    
=======
     
>>>>>>> beec331698b8a9bd169e79d40e75cdb587599982
    text-align: center;
    background-color: black;
  }

 
  .center {
<<<<<<< HEAD
    
=======
>>>>>>> beec331698b8a9bd169e79d40e75cdb587599982
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
<<<<<<< HEAD
    
=======
>>>>>>> beec331698b8a9bd169e79d40e75cdb587599982
  }
 
  .card-img-top{
    border-style: solid;
     border-color: orange;
  }

  .card-body{
    background-color: black;
  }