body {
	background-color:black;
  padding: 50px;
 
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid orange; /* orange */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#navbar {
  background: transparent!important;

}
#navbar button {
  margin-right: 10px;
}

#navbar button:hover {
  background-color: orange;
  outline-color: orange;
}

.btn-outline-success {
  color: orange ;
  border-color: orange !important;
}


#nearMeIcon {
  color: orange;
  height: 25px;
  width: 25px;
  margin-bottom: 7px;
  
}

#footer{
color: white;
}

#footer1{

  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  margin-top: 50px;;
}

.capital{
  width: auto;
}

h1{
  color:white;
text-align: center;
margin-bottom: 40px;
}

h5{
  color:white;

}
P{
  color:white;

}
.container{
    
    text-align: center;
    background-color: black;
    min-height: 500px;
  }

 
  .center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
 
  .card-img-top{
    border-style: solid;
     border-color: orange;
  }

  .card-body{
    background-color: black;
    height: 300px;
  }

  .card-text {
    height: 120px;
    overflow: hidden;
  }

  .footer {
    
   
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
  }
  .card {
    margin-bottom: 20px;
  }